{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Contraseña enviada</title>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"/>
  <link rel="stylesheet" href="{% static 'login/css/styles.css' %}"/>
  <script src="{% static 'login/js/main.js' %}"></script>

</head>

<body>
  <div class="container">
    <div class="login-box">
      <div class="logo">
      </div>
      <div class="login-logo">
        <h2>Correo enviado</h2>
        <p>
          Se ha enviado un correo con instrucciones para restablecer la
          contraseña.
        </p>
      </div>
      <a href="{% url 'login' %}">
        <button class="my-button">Iniciar sesion</button>
      </a>
    </div>
  </div>
</body>

</html>