{% load static %}
{% load widget_tweaks %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Restablecer Contraseña</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" />
  <link rel="stylesheet" href="{% static 'login/css/styles.css' %}"/>
  <script src="{% static 'login/js/main.js' %}"></script>

</head>
<body>
  <div class="container">
    <div class="login-box">
      <div class="login-logo">
        <h2>Restablecer Contraseña</h2>
      </div>
      <div class="input-group">
        <form method="post">
          {% csrf_token %}

          <div>
            {% if form.email.errors %} <!-- Errores del campo email -->
            <div class="alert">
              {% for error in form.email.errors %}
              <p>{{ error }}</p>
              {% endfor %}
            </div>
            {% endif %}

            {{ form.email.label_tag }} <!-- Campo de email -->
            {{ form.email|add_class:"form-control" }}
          </div>

          <div>
            {% if form.password.errors %} <!-- Errores del campo password -->
            <div class="alert">
              {% for error in form.password.errors %}
              <p>{{ error }}</p>
              {% endfor %}
            </div>
            {% endif %}

            {{ form.password.label_tag }} <!-- Campo de contraseña -->
            {{ form.password|add_class:"form-control" }}
          </div>

          <!-- Errores generales del formulario -->
          {% if form.non_field_errors %}
          <div class="alert">
            {% for error in form.non_field_errors %}
            <p>{{ error }}</p>
            {% endfor %}
          </div>
          {% endif %}

          <button type="submit">Enviar</button>
        </form>

      </div>
    </div>
  </div>
</body>

</html>
